<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

    <title>Students’ Cooperative Association </title>


</head>
<body>
     <script>
        $('.btnNext').click(function(){
          $('.nav-tabs > .active').next('li').find('a').trigger('click');
        });

          $('.btnPrevious').click(function(){
          $('.nav-tabs > .active').prev('li').find('a').trigger('click');
        });
      </script>

<h1> Students’ Cooperative Association </h1>
<h2>Membership Application</h2>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="coverpage-tab" data-toggle="tab" href="#coverpage" role="tab" aria-controls="coverpage" aria-selected="true">Cover Page</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="agreement-tab" data-toggle="tab" href="#agreement" role="tab" aria-controls="agreement" aria-selected="true">Agreement Terms</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="checklist-tab" data-toggle="tab" href="#checklist" role="tab" aria-controls="checklist" aria-selected="false">Check List</a>
  </li>

  <li class="nav-item" role="presentation">
    <a class="nav-link" id="personal-information-tab" data-toggle="tab" href="#personal-information" role="tab" aria-controls="personal-information" aria-selected="false">Personal Information and House Preference</a>
  </li>

  <li class="nav-item" role="presentation">
    <a class="nav-link" id="short-essay-tab" data-toggle="tab" href="#short-essay" role="tab" aria-controls="short-essay" aria-selected="false">Short Essay Section</a>
  </li>

  <li class="nav-item" role="presentation">
    <a class="nav-link" id="autobiographical-tab" data-toggle="tab" href="#autobiographical" role="tab" aria-controls="autobiographical" aria-selected="false">Autobiographical Statement</a>
  </li>

  <li class="nav-item" role="presentation">
    <a class="nav-link" id="scale-tab" data-toggle="tab" href="#scale" role="tab" aria-controls="scale" aria-selected="false">Scale-o-matic 7000</a>
  </li>

  <li class="nav-item" role="presentation">
    <a class="nav-link" id="references-tab" data-toggle="tab" href="#references" role="tab" aria-controls="references" aria-selected="false">References</a>
  </li>

  <li class="nav-item" role="presentation">
    <a class="nav-link" id="submit-tab" data-toggle="tab" href="#submit" role="tab" aria-controls="submit" aria-selected="false">Submit</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
<div class="tab-pane fade show active" id="coverpage" role="tabpanel" aria-labelledby="coverpage-tab">.
<p>
    {{ form.cover.csrf_token }}

    {{ form.cover.full_name.label }}
    {{ form.cover.full_name }}

    {{ form.cover.today_date.label }}
    {{ form.cover.today_date }}
</p>

<p style="text-align: center;">
Thank you for applying for membership with the Students’ Cooperative Association. We accept
applications from students and non-students (18+). Priority goes to students, but non-students
are welcome to apply and will be considered based on student to non-student ratios in their
house of interest. This application is an important part of the membership process, but it is not
the only factor considered for membership. If you are in the Eugene area, you can get to know
us by stopping by and hanging out after communicating with a member of the house of your
interest to see if the cooperative lifestyle is right for you. If you’re not in the area but still want
to get to know us, we can arrange a phone/zoom interview to accommodate your needs.
COVID-19 Note: Since COVID-19, we no longer accept drop-by visits. If you would like to get
to know us better, consider alternative options to get to know the co-ops; such as applying to
be a boarder, scheduling a meet up in advance, or scheduling a video call.<br>
<b>OBTAINING, FILLING OUT, AND TURNING IN THIS APPLICATION DOES NOT
GUARANTEE MEMBERSHIP TO, OR FOR THE SCA.</b><br>
The membership coordinator will confirm receipt of your application within two weeks. If you
have not heard from us by that time, please call or email to ensure we have received it.
Applicants will be considered for membership as openings occur; we do not have specific
application deadlines. When there are no current openings, we will keep applications in a pool
for up to one year. Applicants will be evaluated according to the following criteria:<br>
• Interest in the cooperative life and ability to work in a cooperative manner
• Involvement in their community or school
• Personal references
Membership Diversity and other house-specific needs may be taken into consideration.<br>
If you have any questions or need help filling out this application, please contact us at
sca.weownit@gmail.com. In addition, we have a google form application available at this link
if the pdf version proves a barrier to you. Just make sure to let the office know you intend to
submit your application that way. https://forms.gle/P1grduxCA2j3MGtN8<br>
</p>


</div>
<div class="tab-pane fade" id="agreement" role="tabpanel" aria-labelledby="agreement-tab">
    <p>
    <strong>BEFORE YOU BEGIN THIS APPLICATION, IT IS IMPORTANT THAT YOU UNDERSTAND A FEW
    THINGS ABOUT THE CO-OPS. PLEASE INITIAL THE FOLLOWING POINTS TO INDICATE THAT
    YOU UNDERSTAND AND AGREE TO THESE REQUIREMENTS:</strong><br>
    </p>
    {% set agreements = [
    "I will live with people who come from different classes, gender identities, and racial and  ethnic backgrounds from my own.",
    "I will be expected to do the agreed upon labor decided at house job meetings. For example, this may look like 4-5 hours of
    chores a week, small work parties a couple times a term to get bigger house projects done, and/or elected positions you consent
    to.",
    "All three houses are currently working to be safer spaces for applicants with marginalized  identities, such as race, gender,
    and sexuality. Overt or covert discrimination and bigotry will not be tolerated in this community, but they do come up, as is
    a symptom of existing within a White Supremacist system. The ability to self educate, take critical feedback, and grow is
    essential to living in the co-ops. Students’ Cooperative Association Membership Application.",
    "I will attend mandatory weekly meetings (usually Sunday nights), and attend other required
    SCA meetings.",
    "Other SCA members and I will use consensus to make decisions & determine house and
    SCA policies, including those listed above.",
    "Upon joining the SCA, I will attend orientation workshops and trainings."] %}

    {% for i in agreements %}
        <ol>
        {{ form.agreement.initials(id= "initials" ~ loop.index0) }}
        {{ i }}
        </ol>
    {% endfor %}
</div>
<div class="tab-pane fade" id="checklist" role="tabpanel" aria-labelledby="checklist-tab">
<h2>YOU MUST SUBMIT ALL OF THE FOLLOWING ITEMS BEFORE </h2>

    {% set checklist = [
    "Completed application. Please print or type. If filling out an application by hand, use black
    or blue pen only.",
    "Proof of income: Written proof of your source of income you will use to pay for your living
    expenses. I.e. copy of your most recent bank statement or pay stub, offer for financial aid, or a
    letter from your parents or other responsible party stating that they will be supporting you.",
    "Proof of enrollment if applicable: Copy of acceptance letter, transcripts, letter from advisor,
    or recent schedule of classes.
    Note: If you are not attending higher education at this time, this does not necessarily bar you
    from entry from the SCA. Simply mention so on this application and your status will be taken
    into account.",
    "Proof of spay/neuter and current vaccinations for animals (If applicable)",
    "Autobiographical statement: See on page 13 of this application."] %}

<ol>
    {% for i in checklist %}
    <li>
    {{ form.checklist.check(id="check" ~ loop.index0) }}
    {{ i }}
    </li>
    {% endfor %}
</ol>
<h2>YOUR APPLICATION AND DOCUMENTS CAN BE SUBMITTED ELECTRONICALLY TO
SCA.WEOWNIT@GMAIL.COM ( ALL LOWERCASE)</h2>

<p>Electronic submission is preferred, however if you need to submit a hard copy, applications
may also be mailed to or dropped off at the SCA office, located in the Lorax Manner at 1648
Alder St. Eugene, OR 97401.</p>
<strong>IF YOU ARE ACCEPTED AS A MEMBER, YOU MUST PAY YOUR FIRST MONTH OF FEES AND A
DEPOSIT UPON MOVE IN.</strong>
</div>
<div class="tab-pane fade" id="personal-information" role="tabpanel" aria-labelledby="personal-information-tab">
<h2>Personal Information & House Preference </h2>
<ul>
 <li>
    {{ form.personal.full_legal_name.label }}
    {{ form.personal.full_legal_name }}
</li>

 <li>
        {{ form.personal.preferred_name.label }}
        {{ form.personal.preferred_name }}
</li>

 <li>
        {{ form.personal.pronouns.label }}
        {{ form.personal.pronouns }}

        {{ form.personal.dob.label }}
        {{ form.personal.dob }}
 </li>

 <li>
        {{ form.personal.email.label }}
        {{ form.personal.email }}

        {{ form.personal.phone.label }}
        {{ form.personal.phone }}
 </li>

 <li>
        {{ form.personal.permanent_address.label }}
        {{ form.personal.permanent_address }}
 </li>

 <li>
        {{ form.personal.current_address.label }}
        {{ form.personal.current_address }}
 </li>

 <li>
        {{ form.personal.term_move_in.label }}
        {{ form.personal.term_move_in }}

        {{ form.personal.year.label }}
        {{ form.personal.year }}
 </li>

 <li>
        {{ form.personal.was_boarder.label }}
        {{ form.personal.was_boarder }}

        {{ form.personal.years_boarder.label }}
        {{ form.personal.years_boarder }}
 </li>

 <li>
        {{ form.personal.denied_membership.label }}
        {{ form.personal.denied_membership }}
 </li>

 <li>
        {{ form.personal.member_terminated.label }}
        {{ form.personal.member_terminated }}
 </li>
 <li>
        {{ form.personal.member_terminated_explanation.label }}
        {{ form.personal.member_terminated_explanation }}
 </li>

 <li>
        {{ form.personal.type_student.label }}
        {{ form.personal.type_student }}
 </li>
 <li>
        {{ form.personal.school_year.label }}
        {{ form.personal.school_year }}

        {{ form.personal.credits.label }}
        {{ form.personal.credits }}
 </li>
  <li>
        {{ form.personal.major.label }}
        {{ form.personal.major }}
 </li>

  <li>
        {{ form.personal.house_preference.label }}
        {{ form.personal.house_preference }}
 </li>
  <li>
        {{ form.personal.if_not_available.label }}
        {{ form.personal.if_not_available }}
 </li>

  <li>
        {{ form.personal.waitlist.label }}
        {{ form.personal.waitlist }}
 </li>


 <li>
        {{ form.personal.allergies.label }}
        {{ form.personal.allergies }}
 </li>

  <li>
        {{ form.personal.how_long.label }}
        {{ form.personal.how_long }}
 </li>

  <li>
        {{ form.personal.pet.label }}
        {{ form.personal.pet }}
 </li>
 <li>
        {{ form.personal.pet_description.label }}
        {{ form.personal.pet_description }}
 </li>

 <li>
        {{ form.personal.pet_needs.label }}
        {{ form.personal.pet_needs }}
 </li>

 <li>
        {{ form.personal.heer_about_us.label }}
        {{ form.personal.heer_about_us }}
 </li>
</ul>

</div>
<div class="tab-pane fade" id="short-essay" role="tabpanel" aria-labelledby="short-essay-tab">

    {% set essay = ["Why do you want to become a member-owner of a housing cooperative? What do you
                    know about housing cooperative organizations (ours or others), and what about this model
                    appeals to you?",
                    "Tell us what you know about our community in particular, even if it’s not much. What is your
                     general impression of the SCA (or SCA house you’re applying to), and why does it appeal
                    to you? What values, morals, interests, hobbies, etc. do you think you might share with
                    other members?",
                    "Other than the basics of cooperative living (doing jobs, getting along with & working well
                    with others, etc.), what unique and/or useful skills or knowledge do you bring to a group?
                    Provide an example of how you have applied one or more of these skills in a past living,
                    work, school, or cooperative group situation. How do you plan on applying some of these
                    here?",
                    "Living and helping in a cooperative is a unique experience and cooperative living requires
                    cooperative solutions. Describe at least one experience you’ve had with a difficult or
                    stressful living, work, or organizing situation that involves a group of people. What was the
                    situation, why did it come about, and how did you collaborate with others to deal with it?
                    What was the outcome, and what did you learn from the experience? ",
                    "Part 1: Our community consists of members from various backgrounds, differing in gender,
                     orientation, age, income level, immigration status, and ethnicities. We aim to challenge
                     oppression of all kinds and foster a culture of support and solidarity, as well as respectful
                     interactions. Generally, how do you go about addressing or intervening when you witness
                     someone being oppressive or discriminatory towards others? Part 2: In addition, many
                     people have intersecting identities that may lead to them being both oppressed and the
                     oppressor in different contexts. (IE: A White, queer person benefits from White Supremacy
                     but is oppressed by homophobia and transphobia). Where do you see your own identities
                     existing along these intersections? How do you challenge your own indoctrination into
                    oppressive systems?",
                    "Living with so many different types of people can be challenging, and we can occasionally 
                    clash with, hurt, or offend those around us without intending to. Describe a situation where 
                    you took responsibility for a mistake you made. (Think of a time you realized you were in 
                      the wrong.) What was your mistake and what led you to make it? What led you to recognize  
                     your responsibility in the matter, and what did you do to take accountability for your 
                      actions? What was the outcome, and what did you learn?",
                    "Please describe any volunteer work, organizing, activism, or meaningful experiences in 
                      which you have participated in dismantling oppressive systems, especially Racism and  
                     White Supremacy. What issues matter to you? Do you see yourself continuing this work  
                     while living in the SCA?",
                    "Please tell us how you wish to exist within a cooperative community. Feel free to ramble 
                     and be creative! For example; how do you relate or enjoy hanging out with your peers, or 
                     people you share a space with? What are your values, goals, frustrations, and aspirations 
                     for a community you would potentially live in? How would you plan to help create an 
                     intentional community, with the help of other members?"] %}

    <ol>
        {% for i in essay %}
          <li>
            {{ i }}<br>
            {{ form.short.question(id="essay" ~ loop.index0) }}
          </li>
        {% endfor %}
    </ol>
</div>
<div class="tab-pane fade" id="autobiographical" role="tabpanel" aria-labelledby="autobiographical-tab">
    {% set auto = ["Please craft an autobiographical statement. Tell us about yourself in all your glory. Be creative!
                    There are no right or wrong answers. Applicants may submit brief essays, poems, short stories,
                    or drawings.
                    If you are submitting a non-written autobiographical statement or if your statement does not fit
                    below, please email it as a .doc, .Jpeg or .pdf file."] %}
    <ol>
        {% for i in auto %}
          <li>
            {{ i }}<br>
            {{ form.auto.question(id="auto" ~ loop.index0) }}
          </li>
        {% endfor %}
    </ol>
</div>
<div class="tab-pane fade" id="scale" role="tabpanel" aria-labelledby="scale-tab">

      {% set moods = [("Night Owl", "Early Bird"), ("Extrovert", "Introvert"),("Studious", "Partier"),
                        ("Non-smoker", "Smoker"), ("Loud", "Quiet"), ("Team Member", "Team leader"),
                        ("Meat Eater", "Vegan"), ("Doer", "Thinker")] %}

    <ol>
      {% for i in moods %}
        <li>
          {{ i[0] }}
          {{ form.range.range(id="range"~ loop.index0, oninput= "amount" ~ loop.index0 ~ ".value=range" ~ loop.index0 ~ ".value")  }} {{ i[1] }}
          {{ i[1] }}
          {{ form.range.input(id="amount"~loop.index0, oninput= "range" ~ loop.index0 ~ ".value=amount" ~ loop.index0 ~ ".value") }}<br>
          {{ form.range.comment.label(id="comment"~loop.index0) }}
          {{ form.range.comment(id="comment"~loop.index0) }}
        </li>
      {% endfor %}
    </ol>
</div>
<div class="tab-pane fade" id="references" role="tabpanel" aria-labelledby="references-tab">

  <h1>References</h1>
  <p>
    Please list 3 references (excluding family and current SCA members), their addresses, phone
    numbers and/or email. Specify their relationship to you. If possible, include a previous landlord,
    employer, and/or housemate. Other references may include teachers, adult friends , coworkers,
    and mentors. Your application will not be considered unless 3 references are provided.
  </p>


    {% for i in range(1,4) %}
        <h2> Reference {{ i }}</h2>
        {{ form.reference.name.label }}
        {{ form.reference.name(id="ref" ~ loop.index) }}
        {{ form.reference.relationship.label }}
        {{ form.reference.relationship(id="rela" ~ loop.index) }}
        <br>
        {{ form.reference.email.label }}
        {{ form.reference.email(id="email" ~ loop.index) }}
        {{ form.reference.phone.label }}
        {{ form.reference.phone(id="phone" ~ loop.index) }}
        <br>
    {% endfor %}

</div>
<div class="tab-pane fade" id="submit" role="tabpanel" aria-labelledby="submit-tab">
</div>

<!--&lt;!&ndash;            {{ form.submit}}&ndash;&gt;-->
<!--&lt;!&ndash;            <button type="reset" id="clear" class="btn btn-success" onclick="clear_button()"> Clear </button>&ndash;&gt;-->

<!--        </form>-->
    <br>

</body>
</html>